{{- $defaultName := "Aaron Dodd" -}}
{{- $defaultEmail := "me@aaronrdodd.com" -}}
{{- $defaultGithubUsername := "aaron-dodd" }}

[data]
    work_device = {{ promptBool "Is this a work device" false | quote }}

    user.fullname = {{ promptString "What is your full name" $defaultName | quote }}
    user.email = {{ promptString "What is your email" $defaultEmail | quote }}
    user.signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH+VPgzwtfVo/JEFBg97ngn7cqqPMUyVmuHKUJwyj0/+"

    git.github.username = {{ promptString "What is your GitHub username" $defaultGithubUsername | quote }}
    git.sign.format = "ssh"
    git.sign.commits = true
    git.sign.tags = true

    beyondcompare.enable = true
    beyondcompare.windows.path = "c:/Program Files/Beyond Compare 5/bcomp.exe"

    ssh.onepassword.enable = true
    ssh.onepassword.sign.linux.path = "/opt/1Password/op-ssh-sign"
    ssh.onepassword.sign.windows.path = "{{.chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"

    ssh.agent.enable = true
    ssh.agent.windows.path = "C:/Windows/System32/OpenSSH/ssh.exe"
    ssh.agent.wsl.path = "ssh.exe"
