[data]
    email_personal = "8947937+aardodd@users.noreply.github.com"
    email_work = "aaron.dodd@avcosystems.com"

    git.sign.format = "ssh"
    git.sign.key = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub"
    git.sign.force = true

    work = false
