[data]
    work_device = false

    fullname = "Aaron Dodd"

    git.use_onepassword_ssh = true
    git.sign.force = true
    git.sign.format = "ssh"

    personal.email = "me@aaronrdodd.com"
    personal.signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH+VPgzwtfVo/JEFBg97ngn7cqqPMUyVmuHKUJwyj0/+"

    work.email = "aaron.dodd@avcosystems.com"
    work.signingkey = ""
