AddKeysToAgent yes

{{- if and (.ssh.agent.provider.onepassword.enable) (eq .chezmoi.os "linux") }}
Host *
       IdentityAgent ~/.1password/agent.sock
{{ end -}}

{{- if not .ssh.agent.provider.onepassword.enable }}
Host personal.github.com
        HostName github.com
        User git
        PreferredAuthentications publickey
        IdentitiesOnly yes
        IdentityFile ~/.ssh/id_ed25519
{{ end -}}
