{{ if .work -}}
{{ else -}}
aaron@DESKTOP-2QD6ULI ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIwvPCbFFNKseNiZ1Fn4iBIgKJa+0lgWVgPBL9AYI2wC
aaron@DESKTOP-O5GOQ58 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBrcF+PGbXSa+KkZgSupx405LXQE+oSQY6tp30p735Nj
{{ end -}}